.u-tiltRight {
	transform: skewY(var(--TILT));
}

.u-tiltRightSm {
	transform: skewY(calc(var(--TILT) / 2));
}

.u-tiltLeft {
	transform: skewY(-var(--TILT));
}

.u-tiltLeftSm {
	transform: skewY(-calc(var(--TILT) / 2));
}
