.u-txt_md {
	font-size: var(--FONT_SIZE_MEDIUM);
}

.u-txt_lg {
	font-size: var(--FONT_SIZE_LARGE);
}

.u-txt_xl {
	font-size: var(--FONT_SIZE_LARGE);
}

.u-txt_xxl {
	font-size: var(--FONT_SIZE_XXLARGE);
}

.u-txt_c {
	text-align: center;
}

.u-txt_accent {
	color: var(--COLOR_ACCENT);
}

.u-txt_display {
	font-family: var(--FONT_FAMILY_DISPLAY);
	line-height: var(--LINE_HEIGHT_ACCENT);
}

@media (--BP_MEDIUM) {
	.u-txt_xl {
		font-size: var(--FONT_SIZE_XLARGE);
	}
}
