<a href="http://www.runforlifewny.com/" rel="external">
	<div class="sash m-sash_inv u-tiltLeft">
		<div class="sash-bd m-sash_left-bd">

			<div class="bpSm-grid bpSm-m-grid_c bpSm-m-grid_m u-vr" itemscope itemtype="http://schema.org/Event">
				<div class="bpSm-grid-col_2of3">

					<div class="sash-hero">
						<h2 class="u-txt_primary u-txt_xxl" itemprop="name">Run for Life</h2>
						<p class="u-txt_lg">2016 registration funds will be donated to the Southtowns Care Center &#187;</p>
					</div>

				</div> <!-- /grid-col -->
				<div class="bpSm-grid-col_1of3">

					<div class="u-vrSm">
						<div class="box">
							<div class="u-txt_primary u-txt_display" itemprop="description">5K Run &amp; Walk</div>
							<div class="u-txt_accent u-txt_xl">
								<time itemprop="startDate" datetime="2016-07-16 09:00">
									<span>July 16 @ 9:00am</span>
								</time>
							</div>
						</div>

						<div class="box" itemprop="location" itemscope itemtype="http://schema.org/Place">
							<div class="u-txt_accent u-txt_xl" itemprop="name">Life Church</div>
							<div class="u-txt_primary u-txt_display">
								<span itemprop="addressLocality">West Seneca</span>,
								<span itemprop="addressRegion">NY</span>
							</div>
						</div>
					</div>

				</div> <!-- /grid-col -->
			</div> <!-- /grid -->

		</div> <!-- /sash-bd -->
	</div> <!-- /sash -->
</a>
