<div class="sash m-sash_image u-tiltLeft">
	<div class="sash-bd m-sash_left-bd">

		<div class="bpSm-grid bpSm-m-grid_c bpSm-m-grid_m u-vr" itemscope itemtype="http://schema.org/Event">
			<div class="bpSm-grid-col_1of1">

				<h2 class="sash-hero">How You Can Help</h2>

			</div> <!-- /grid-col -->
			 <!-- /grid-col -->
		</div> <!-- /grid -->

	</div> <!-- /sash-bd -->
</div> <!-- /sash -->
