:root {
	--COLOR_WHITE: hsl(0, 0%, 100%);
	--COLOR_WHITE_DARK: hsl(0, 0%, 95%);
	--COLOR_GRAY: hsl(0, 0%, 50%);
	--COLOR_BLACK: hsl(0, 0%, 16%);
	--COLOR_BLACK_DARK: hsl(0, 0%, 0%);
	--COLOR_PRIMARY: hsl(336, 91%, 55%);
	--COLOR_PRIMARY_DARK: hsl(341, 86%, 39%);
	--COLOR_ACCENT: hsl(194, 62%, 49%);
	--COLOR_ACCENT_DARK: hsl(193, 62%, 43%);
	--COLOR_HIGHLIGHT: hsl(54, 100%, 62%);
	--COLOR_BACKGROUND: var(--COLOR_WHITE);
	--COLOR_FOREGROUND: var(--COLOR_BLACK);

	--FONT_PRIMARY: 'Lato', Arial, sans-serif;
	--FONT_ACCENT: 'Gogoia', Arial, sans-serif;
	--FONT_DISPLAY: 'Silverfake', Arial, sans-serif;

	--FONT_SIZE_SMALL: 12px;
	--FONT_SIZE_DEFAULT: 16px;
	--FONT_SIZE_LARGE: 36px;

	--FONT_WEIGHT_DEFAULT: normal;

	--LINE_HEIGHT_DEFAULT: 1.6;
	--LINE_HEIGHT_ACCENT: 1;

	--GUTTER_SMALL: 10px;
	--GUTTER_MEDIUM: 20px;
	--GUTTER_LARGE: 40px;

	--TILT: 7deg;

	--ASPECT_TEXT_MODIFIER: 1.8;
}
