## Colors {hdg hdg_2}

<div class="guide-demo u-vrMd">
	<div class="box box_light">
		<div class="grid">
			<div class="grid-col3of4">
				<span class="box" style="background: hsl(333, 85%, 53%);"></span>
			</div>
			<div class="grid-col1of4">
				<h3 class="txt-bold">Pink</h3>
				<code>hsl(333, 83%, 53%)</code>
			</div>
		</div>
	</div>
	<div class="box box_light">
		<div class="grid">
			<div class="grid-col3of4">
				<span class="box" style="background: hsl(120, 91%, 91%);"></span>
			</div>
			<div class="grid-col1of4">
				<h3 class="txt-bold">Green</h3>
				<code>hsl(120, 91%, 91%)</code>
			</div>
		</div>
	</div>
	<div class="box box_light">
		<div class="grid">
			<div class="grid-col3of4">
				<span class="box" style="background: hsl(53, 33%, 83%);"></span>
			</div>
			<div class="grid-col1of4">
				<h3 class="txt-bold">Brown</h3>
				<code>hsl(53, 33%, 83%)</code>
			</div>
		</div>
	</div>
</div>

## Headings {hdg hdg_2}

<div class="guide-demo u-vrMd">
	<div class="box box_light">
		<div class="grid">
			<div class="grid-col3of4">
				<div class="hdg hdg_1">You Must First Love
					<small class="hdg-sub">And They Must Know</small>
				</div>
			</div>
			<div class="grid-col1of4">
				<h3 class="txt-bold">Heading 1</h3>
				<code>Gogoia Regular, 99px</code>
			</div>
		</div>
	</div>
	<div class="box box_light">
		<div class="grid">
			<div class="grid-col3of4">
				<div class="hdg hdg_2">You Must First Love
					<small class="hdg-sub">And They Must Know</small>
				</div>
			</div>
			<div class="grid-col1of4">
				<h3 class="txt-bold">Heading 2</h3>
				<code>Gogoia Regular, 99px</code>
			</div>
		</div>
	</div>
	<div class="box box_light">
		<div class="grid">
			<div class="grid-col3of4">
				<div class="hdg hdg_3">You Must First Love
					<small class="hdg-sub">And They Must Know</small>
				</div>
			</div>
			<div class="grid-col1of4">
				<h3 class="txt-bold">Heading 3</h3>
				<code>Gogoia Regular, 99px</code>
			</div>
		</div>
	</div>
	<div class="box box_light">
		<div class="grid">
			<div class="grid-col3of4">
				<div class="hdg hdg_4">You Must First Love</div>
			</div>
			<div class="grid-col1of4">
				<h3 class="txt-bold">Heading 4</h3>
				<code>Gogoia Regular, 99px</code>
			</div>
		</div>
	</div>
	<div class="box box_light">
		<div class="grid">
			<div class="grid-col3of4">
				<div class="hdg hdg_5">You Must First Love</div>
			</div>
			<div class="grid-col1of4">
				<h3 class="txt-bold">Heading 5</h3>
				<code>Gogoia Regular, 99px</code>
			</div>
		</div>
	</div>
	<div class="box box_light">
		<div class="grid">
			<div class="grid-col3of4">
				<div class="hdg hdg_6">You Must First Love</div>
			</div>
			<div class="grid-col1of4">
				<h3 class="txt-bold">Heading 6</h3>
				<code>Gogoia Regular, 99px</code>
			</div>
		</div>
	</div>
</div>

## Copy {hdg hdg_2}

<div class="guide-demo">
	<div class="box box_light">
		<div class="grid">
			<div class="grid-col3of4">
				<div class="txt">Whom you would change <em class="txt-bold">you must first love</em>, and they must know that you love them. Love has within it a redemptive power. And there is a power there that eventually transforms individuals. It is redemptive. There's <a class="link" href="https://www.bible.com/bible/59/1co.13" rel="nofollow">something about love that builds up</a> and is creative. Oh God, help us in our lives and in all of our attitudes to work out this love that can solve every problem that we confront in all areas.</div>
			</div>
			<div class="grid-col1of4">
				<h3 class="txt-bold">Body copy.</h3>
				<code>Helvetica Neue, 16px</code>
			</div>
		</div>
	</div>
</div>
