<!doctype html>
<html>
<head>
	<!--

		┌───────────┐
		│   ┃   ┃   │ SOUTHTOWNS
		│   ┃   ┃   │ CARE CENTER
		└───────────┘

		(c) Southtowns Care Center

	-->

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>SCC{{#if file.meta.title}} | {{ file.meta.title }}{{/if}}</title>

	<link rel="stylesheet" href="/assets/styles/main.css?v={{ pkg.version }}" />
</head>
<body>
	{{{block "body"}}}

	<!-- <script src="/assets/scripts/main.js?v={{ pkg.version }}"></script> -->
</body>
</html>
