### Block

Something about blocks here.

### Aspect

The aspect object contrains an element to maintain a specific aspect ratio based on the width of the container (`block`) or the current font size (`inline`).

#### Block

<div class="grid">
	<div class="grid-col_1of4">
		<div class="aspect aspect_block">
			<div class="aspect-bd guide-fill">
				Block (1x1)
			</div>
		</div>
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_4x3">
			<div class="aspect-bd guide-fill">
				Block (4x3)
			</div>
		</div>
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_16x9">
			<div class="aspect-bd guide-fill">
				Block (16x9)
			</div>
		</div>
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_block aspect_block_3x1">
			<div class="aspect-bd guide-fill">
				Block (3x1)
			</div>
		</div>
	</div>
</div>

#### Inline

<div class="grid" style="font-size: 3em;">
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline">
			<div class="aspect-bd guide-fill">
				Inline (1x1)
			</div>
		</div>
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_4x3">
			<div class="aspect-bd guide-fill">
				Inline (4x3)
			</div>
		</div>
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_16x9">
			<div class="aspect-bd guide-fill">
				Inline (16x9)
			</div>
		</div>
	</div>
	<div class="grid-col_1of4">
		<div class="aspect aspect_inline aspect_inline_3x1">
			<div class="aspect-bd guide-fill">
				Inline (3x1)
			</div>
		</div>
	</div>
</div>
