## Field

<div class="guide-demo u-vr">
	<div class="field">
		<input class="field-txt" type="text" value="text" />
		<button class="btn">A</button>
		<button class="btn">B</button>
	</div>
	<div class="field">
		<button class="btn">Button</button>
		<input class="field-txt" type="text" placeholder="placeholder" />
	</div>
</div>
