<h3 class="hdg hdg_1">Grid</h3>

<div class="grid">
	<div class="grid-col_1of1 guide-swatch">
		1 of 1
	</div>
</div>

<div class="grid">
	<div class="grid-col_1of2 guide-swatch">
		1 of 2
	</div>
	<div class="grid-col_1of2 guide-swatch guide-swatch_alt">
		1 of 2
	</div>
</div>

<div class="grid">
	<div class="grid-col_1of3 guide-swatch">
		1 of 3
	</div>
	<div class="grid-col_1of3 guide-swatch guide-swatch_alt">
		1 of 3
	</div>
	<div class="grid-col_1of3 guide-swatch">
		1 of 3
	</div>
</div>

<div class="grid">
	<div class="grid-col_1of3 guide-swatch">
		1 of 3
	</div>
	<div class="grid-col_2of3 guide-swatch guide-swatch_alt">
		2 of 3
	</div>
</div>

<div class="grid">
	<div class="grid-col_1of4 guide-swatch">
		1 of 4
	</div>
	<div class="grid-col_1of4 guide-swatch guide-swatch_alt">
		1 of 4
	</div>
	<div class="grid-col_1of4 guide-swatch">
		1 of 4
	</div>
	<div class="grid-col_1of4 guide-swatch guide-swatch_alt">
		1 of 4
	</div>
</div>

<div class="grid">
	<div class="grid-col_1of4 guide-swatch">
		1 of 4
	</div>
	<div class="grid-col_1of4 guide-swatch guide-swatch_alt">
		1 of 4
	</div>
	<div class="grid-col_1of2 guide-swatch">
		1 of 2
	</div>
</div>

<div class="grid">
	<div class="grid-col_1of4 guide-swatch">
		1 of 4
	</div>
	<div class="grid-col_3of4 guide-swatch guide-swatch_alt">
		3 of 4
	</div>
</div>
