<h3 class="hdg hdg_1">Spread</h3>

<div class="spread">
	<div class="guide-swatch">Left</div>
	<div class="guide-swatch">Right</div>
</div>

<div class="spread">
	<div class="guide-swatch">Short</div>
	<div class="guide-swatch">Looooooooooooooooooooong item that will wrap when it needs to but it doesn't really want to if it can help it.</div>
	<div class="guide-swatch">Short</div>
</div>

<div class="spread">
	<div class="guide-swatch">Left</div>
	<div class="guide-swatch">Middle Left</div>
	<div class="guide-swatch">Middle</div>
	<div class="guide-swatch">Middle Right</div>
	<div class="guide-swatch">Right</div>
</div>
