.box {
	font-family: var(--FONT_FAMILY_ACCENT);
	font-size: larger;
	line-height: var(--LINE_HEIGHT_ACCENT);
	letter-spacing: -1px;
	background-color: var(--COLOR_BACKGROUND);
	color: var(--COLOR_FOREGROUND);
	padding: 1rem;
}
