.btn {
	display: inline-block;
	padding: 0.5em 1em;
	background-color: var(--COLOR_PRIMARY);
	border-radius: 0.25em;
	color: var(--COLOR_BACKGROUND);
	font-family: var(--FONT_FAMILY_ACCENT);
	font-size: 2em;
	line-height: var(--LINE_HEIGHT_ACCENT);
}

.btn:focus,
.btn:hover {
	text-decoration: underline;
}

.m-btn_accent {
	background-color: var(--COLOR_ACCENT);
}

.m-btn_full {
	display: block;
	text-align: center;
}
