.sash {
	position: relative;
}

.sash-bd {
	margin: 0 auto;
	max-width: 960px;
	padding: var(--GUTTER_MEDIUM);
}

.sash-hero {
	font-family: var(--FONT_FAMILY_ACCENT);
	font-size: 3rem;
	line-height: var(--LINE_HEIGHT_ACCENT);
	padding: 2rem 0;
	text-shadow: 1px 1px 2px color(var(--COLOR_FOREGROUND) a(50%));
}

.m-sash_image {
	background: var(--COLOR_FOREGROUND) url(../../media/images/stock/woods.jpg) no-repeat center center;
	background-size: cover;
	color: var(--COLOR_BACKGROUND);
}

.m-sash_primary {
	background: var(--COLOR_PRIMARY) url(../../media/images/patterns/pink.jpg) no-repeat center center;
	background-size: cover;
	color: var(--COLOR_BACKGROUND);
}

.m-sash_accent {
	background: var(--COLOR_ACCENT);
	color: var(--COLOR_BACKGROUND);
}

@media (--BP_SMALL) {
	.sash-hero {
		font-size: 5rem;
	}
}
