.sash {
	position: relative;
}

.sash-bd {
	margin: 0 auto;
	max-width: 960px;
	padding: var(--GUTTER_MEDIUM);
}

.m-sash_primary {
	background: var(--COLOR_PRIMARY) url(../../media/images/patterns/pink.jpg) no-repeat center center;
	background-size: cover;
	color: var(--COLOR_BACKGROUND);
}

.m-sash_accent {
	background: var(--COLOR_ACCENT);
	color: var(--COLOR_BACKGROUND);
}
