.semantic h1 {
	font-size: larger;
}

.semantic a {
	color: magenta;
	border-bottom: 0.5em solid hsla(30, 50%, 50%, 0);
	text-decoration: none;
	transition: 250ms border-bottom-color;
}

.semantic a:focus,
.semantic a:hover {
	border-bottom-color: hsla(180, 100%, 75%, 0.5);
}

.semantic p {
	margin-top: 1em;
}
