<div class="sash m-sash_primary u-tiltLeft">
	<div class="sash-bd m-sash_left-bd">

		<div class="bpSm-grid bpSm-m-grid_c bpSm-m-grid_m u-vr">
			<div class="bpSm-grid-col_1of2 u-tiltRight">
				<div class="aspect">
					<svg class="aspect-bd" aria-hidden="true">
						<use xlink:href="/assets/media/images/icons.svg?v={{ util.pkg.version }}#light-the-night"></use>
					</svg>
				</div> <!-- /aspect -->
			</div> <!-- /grid-col -->

			<div class="bpSm-grid-col_1of3">
				<div class="u-vrSm">
					<p class="box u-txt_display">Candle Lighting Benefit</p>
					<p class="box u-txt_accent u-txt_lg">Sep13@6:30pm</p>
					<p class="box u-txt_display">Woodlawn Beach, Blasdell, NY</p>
				</div>
			</div> <!-- /grid-col -->
		</div> <!-- /grid -->

	</div> <!-- /sash-bd -->
</div> <!-- /sash -->

<div class="sash m-sash_accent u-tiltRightSm">
	<div class="sash-bd">

		<p class="u-txt_c u-txt_display">Food Trucks &amp; Free Live Music</p>

	</div> <!-- /sash-bd -->
</div> <!-- /sash -->
