/**
 * # Vertical Rhythm Utilties
 */

:root {
	--vr: {
		& > * + * {
			margin-top: calc(var(--gutter) / 2);
		}

		&Sm > * + * {
			margin-top: calc(var(--gutter) / 9);
		}

		&Md > * + * {
			margin-top: calc(var(--gutter) / 2);
		}

		&Lg > * + * {
			margin-top: calc(var(--gutter) * 1.6);
		}
	};
}

.u-vr { @apply --vr; }

@media (--small) {
	.bpSm-u-vr { @apply --vr; }
}

@media (--medium) {
	.bpMd-u-vr { @apply --vr; }
}

@media (--large) {
	.bpLg-u-vr { @apply --vr; }
}
