<div class="guide-demo">
	<div class="grid u-tilt">
		<div class="box box_inv grid-col1of2">
			<button class="btn">
				<span class="u-tilt-bd u-tilt-bd_block">
					Div as Box
				</span>
			</button>
		</div>
		<div class="grid-col1of4 box">
			<div class="u-tilt-bd">
				Div as Box
			</div>
			<div class="u-tilt-bg"
				style="background-image: url(/assets/media/images/2016/hero/hero-beach.jpg);">
			</div>
		</div>
		<div class="grid-col1of4 box">
			<div class="box box_inv">
				<div class="u-tilt-bd">
					Div as Box
				</div>
			</div>
		</div>
	</div>
	<a class="box" href="#">Link as Box</a>
	<button class="box">Button as Box</button>
	<span class="box">Span as Box</span>
	<div class="box">Div as Box</div>
</div>
