## Button {hdg hdg_2}

<div>
	<a class="btn" href="#">Link as Button</a>
	<button class="btn">Button as Button</button>
	<span class="btn">Span as Button</span>
	<div class="btn">Div as Button</div>
</div>
