:root {
	--grid: {
		& {
			display: flex;
			margin-left: calc(var(--gutter) * -0.5);
			margin-right: calc(var(--gutter) * -0.5);
		}

		& > * {
			flex: 1 1 auto;
			position: relative;
			z-index: 1;
			padding-left: calc(var(--gutter) * 0.5);
			padding-right: calc(var(--gutter) * 0.5);
		}

		&-col1of1 {
			flex-basis: 100%;
			max-width: 100%;
		}

		&-col1of2 {
			flex-basis: 50%;
			max-width: 50%;
		}

		&-col1of3 {
			flex-basis: 33.333%;
			max-width: 33.333%;
		}

		&-col1of4 {
			flex-basis: 25%;
			max-width: 25%;
		}

		&-col2of3 {
			flex-basis: 66.666%;
			max-width: 66.666%;
		}

		&-col2of5 {
			flex-basis: 40%;
			max-width: 40%;
		}

		&-col3of4 {
			flex-basis: 75%;
			max-width: 75%;
		}

		&-col3of5 {
			flex-basis: 60%;
			max-width: 60%;
		}

		&_flush {
			margin-left: 0;
			margin-right: 0;
		}

		&_flush > * {
			padding-left: 0;
			padding-right: 0;
		}
	};

	--m-grid: {
		&_btm {
			align-items: flex-end;
		}

		&_rev {
			flex-flow: row-reverse;
		}

		&-colflex {
			display: flex;
		}
	};
}

.grid { @apply --grid; }
.m-grid { @apply --m-grid; }

@media (--small) {
	.bpSm-grid { @apply --grid; }
	.bpSm-m-grid { @apply --m-grid; }
}

@media (--medium) {
	.bpMd-grid { @apply --grid; }
	.bpMd-m-grid { @apply --m-grid; }
}

@media (--large) {
	.bpLg-grid { @apply --grid; }
	.bpLg-m-grid { @apply --m-grid; }
}
