.meter {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;

	background-color: var(--color-background);
}

.meter-fill {
	padding: 0.5rem 1rem;

	background-color: var(--color-pink);
	color: var(--color-background);
	font-weight: bold;
}
