/**
 * # Tilt Utilties
 */

:root {
	--tilt: {
		/**
		 * Tilt up.
		 */
		& {
			transform: skewY(calc(var(--tilt) * -1deg));
			transform-origin: left top;
		}

		/**
		 * Tilt down.
		 */
		&-bd {
			transform: skewY(calc(var(--tilt) * 1deg));
			transform-origin: left top;
		}
	};
}

.u-tilt { @apply --tilt; }

@media (--small) {
	.bpSm-u-tilt { @apply --tilt; }
}

@media (--medium) {
	.bpMd-u-tilt { @apply --tilt; }
}

@media (--large) {
	.bpLg-u-tilt { @apply --tilt; }
}
