:root {
	/**
	 * Hide visually and from screen readers.
	 */
	--hidden: {
		& {
			display: none !important;
		}
	};

	/**
	 * Hide only visually, but have it available for screen readers:
	 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
	 */
	--visuallyHidden: {
		& {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
	};
}

.u-hidden { @apply --hidden; }
.u-visuallyHidden { @apply --visuallyHidden; }

@media (--xsmall) {
	.bpXs-u-hidden { @apply --hidden; }
	.bpXs-u-visuallyHidden { @apply --visuallyHidden; }
}

@media (--small) {
	.bpSm-u-hidden { @apply --hidden; }
	.bpSm-u-visuallyHidden { @apply --visuallyHidden; }
}

@media (--medium) {
	.bpMd-u-hidden { @apply --hidden; }
	.bpMd-u-visuallyHidden { @apply --visuallyHidden; }
}

@media (--large) {
	.bpLg-u-hidden { @apply --hidden; }
	.bpLg-u-visuallyHidden { @apply --visuallyHidden; }
}

@media print {
	.bpPr-u-hidden { @apply --hidden; }
	.bpPr-u-visuallyHidden { @apply --hidden; }
}
