## Rhythm {hdg hdg_2}

<div class="guide-demo">
	<div class="grid grid_gutter">
		<div class="grid-col u-rhythmXl">
			<h3 class="hdg hdg_4">Xl</h3>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
		</div>
		<div class="grid-col u-rhythmLg">
			<h3 class="hdg hdg_4">Lg</h3>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
		</div>
		<div class="grid-col u-rhythmMd">
			<h3 class="hdg hdg_4">Md</h3>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
		</div>
		<div class="grid-col u-rhythmSm">
			<h3 class="hdg hdg_4">Sm</h3>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
		</div>
		<div class="grid-col u-rhythmXs">
			<h3 class="hdg hdg_4">Xs</h3>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
			<div class="boxSm u-themeLight"></div>
		</div>
	</div>
</div>
