## Box

<div class="guide-demo rhythm_sm">
	<div class="box">Box</div>
	<div class="box box_light box_xs">Box Flush</div>
	<div class="box box_light box_sm">Box Small</div>
	<div class="box box_light box_md">Box Medium</div>
	<div class="box box_light box_lg">Box Large</div>
</div>
