## Tilt {hdg hdg_2}

<div class="guide-demo rhythm_sm">
	<div class="box box_light tilt">
		Tilt
	</div>
	<div class="box box_dark tilt">
		<div class="tilt-bd">Untilt</div>
	</div>
	<div class="box box_dark tilt">
		Tilt
		<div class="tilt-bg" role="presentation"
			style="background-image: url('/assets/media/images/2016/hero/hero-beach.jpg');">
		</div>
	</div>
	<div class="box box_dark tilt">
		<div class="tilt-bd">Untilt</div>
		<div class="tilt-bg" role="presentation"
			style="background-image: url('/assets/media/images/2016/hero/hero-beach.jpg');">
		</div>
	</div>
</div>
