<!-- Organization -->
<div itemscope itemtype="https://schema.org/Organization">
	<div itemprop="copyrightHolder provider sourceOrganization">
		<div itemprop="name">
			<a itemprop="url" href="{{site.canonical}}">
				Southtowns Care Center, Inc.
			</a>
		</div>
		<div itemprop="address">
			<address itemscope itemtype="https://schema.org/PostalAddress">
				<span itemprop="postOfficeBoxNumber">P.O. Box 892</span><br />
				<span itemprop="addressLocality">Hamburg</span>,
				<span itemprop="addressRegion">NY</span>
				<span itemprop="postalCode">14075</span>
			</address>
		</div>
		<div itemprop="telephone">
			<a class="link" href="tel:+17165080660" rel="nofollow">
				(716) 508-0660
			</a>
		</div>
		<div itemprop="email">
			<a class="link" href="mailto:info@southcc.org">
				info@southcc.org
			</a>
		</div>
		<div itemprop="twitter">
			<a class="link" href="https://twitter.com/southtownscc">
				@southtownscc
			</a>
		</div>
	</div>
</div>
