.hero {
	display: flex;
	justify-content: space-between;
	flex-flow: column;

	transform: skewY(calc(var(--tilt) * -1deg));
	transform-origin: left top;
}

.hero-hd {
	position: relative;
	z-index: 1;
	padding-top: 19.2rem;

	font-family: var(--font-heading);
	font-size: 8rem;
	line-height: 1;
}

.hero-hd_inv {
	color: var(--color-background);
	text-shadow: 0.1rem 0.2rem 0.3rem color(var(--color-foreground) alpha(0.2));
}

.hero-bg {
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 100%;
	width: 100vw;
	overflow: hidden;

	transform: translateX(-50%);
}

.hero-bg::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: calc(100% + calc(var(--tilt) * 2vw));
	width: 100%;

	background: inherit;
	background-color: var(--color-brown);
	background-size: cover;
	background-position: center center;

	transform: skewY(calc(var(--tilt) * 1deg));
	transform-origin: left bottom;
}

.hero-bg_top {
	height: calc(100% + calc(var(--tilt) * 1.8%));
}

@media (--medium) {
	.hero-hd {
		padding-top: 22rem;

		font-size: 12rem;
	}
}

@media (--large) {
	.hero-hd {
		padding-top: 25.6rem;

		font-size: 14rem;
	}
}
