### Hero {hdg hdg_1}

<div class="hero">
	<div class="hero-hd">Hero</div>
	<div class="hero-bg" role="presentation"></div>
</div>

<div class="hero hero_inv">
	<div class="hero-hd">Hero</div>
	<div class="hero-bg" role="presentation"></div>
</div>
