## Hero {hdg hdg_2}

<div class="hero">
	<div class="hero-hd">Hero</div>
	<div class="hero-bg" role="presentation"></div>
</div>

<div class="hero">
	<div class="hero-hd">Hero</div>
	<div class="hero-bg" role="presentation"></div>
</div>
