.logo {
	display: block;
	position: absolute;
	top: var(--gutter);
	z-index: 1;

	background-color: var(--color-pink);
	color: var(--color-background);
	padding: 2rem 1rem 1.6rem;
	width: 9rem;

	transform: skewY(calc(var(--tilt) * -1deg));
	transform-origin: left top;
}

.logo-bd {
	display: block;
	padding-bottom: calc(var(--tilt) * 2%);

	transform: skewY(calc(var(--tilt) * 1deg));
	transform-origin: left top;
}

@media (--gt-small) {
	.logo {
		top: 0;
		padding: var(--gutter) 1.3rem 2rem;
		width: 13rem;
	}
}
