.logo {
	display: block;
	position: absolute;
	top: var(--gutter);
	z-index: 1;
	padding: var(--gutter) 1rem 1.6rem;
	width: 9rem;

	background-color: var(--color-pink);
	color: var(--color-background);

	transform: skewY(calc(var(--tilt) * -1deg));
	transform-origin: left top;

	transition: background-color 0.25s;
	will-change: background-color;

}

.logo:focus,
.logo:hover {
	background-color: color(var(--color-pink) l(-9%));
}

.logo-bd {
	display: block;
	padding-bottom: calc(var(--tilt) * 2%);

	transform: skewY(calc(var(--tilt) * 1deg));
	transform-origin: left top;
}

@media (--gt-small) {
	.logo {
		top: 0;
		padding: var(--gutter) 1.3rem 2rem;
		width: 13rem;
	}
}

@media print {
	.logo {
		padding: 0;
		width: 8rem;

		background: transparent;
		color: var(--color-foreground);
	}
}
