.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 4%;

	font-size: 1.3rem;
}

.nav > * {
	display: inline-block;
}

.nav-btn {
	order: 1;
	padding: 1rem 1.6rem;

	background-color: var(--color-pink);
	color: var(--color-background);
	line-height: 1;
}

.nav-icn {
	font-size: 3.2rem;
	line-height: 0.5;
}

@media (--medium), (--large) {
	.nav {
		justify-content: flex-end;

		font-size: inherit;
	}

	.nav > * + * {
		margin-left: 2.4rem;
	}

	.nav_inv {
		color: var(--color-background);
	}

	.nav-btn {
		border-radius: 0.3rem;
	}
}
