/**
 * # Navigation Module
 */

.nav {
	display: inline-block;
	line-height: 1rem;
	vertical-align: baseline;
}

.nav + .nav {
	margin-left: 1.6rem;
}

.nav_btn {
	background-color: var(--color-primary);
	color: var(--color-background);
	padding: 1rem;
}

.m-nav_inv {
	color: var(--color-background);
}
