.site {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
}

.site-hd {
	flex: none;
}

.site-bd {
	flex: 1 0 auto;
}

.site-ft {
	flex: none;
	padding: var(--gutter) 0;

	background-color: var(--color-foreground);
	color: color(var(--color-background) lightness(-50%));
	font-size: 1.3rem;
}
