.site {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
}

.site-hd {
	flex: none;
}

.site-bd {
	flex: 1 0 auto;
	padding-bottom: var(--gutter);
}

.site-ft {
	flex: none;
	padding: var(--gutter) 0 calc(var(--gutter) * 2);

	background-color: var(--color-foreground);
	color: color(var(--color-background) l(-50%));
	font-size: 1.3rem;
}

@media print {
	.site-ft {
		padding-bottom: 0;
	}
}
