.skip {
	position: absolute;
	left: 50%;
	bottom: 100%;
	z-index: 3;
	padding: 0.5rem 1rem;
	background-color: var(--color-background);
	color: var(--color-foreground);
	transform: translateX(-50%);
}

.skip:hover,
.skip:focus {
	bottom: auto;
	top: 0;
}
