@font-face {
	font-family: gogoia-web;
	font-style: normal;
	font-weight: 400;
	src:
		url('/assets/media/fonts/gogoia.woff2') format('woff2'),
		url('/assets/media/fonts/gogoia.woff') format('woff');
}
