### Colors

<div class="grid">
	<div class="grid-col_1of3 guide-swatch" style="background: hsl(333, 85%, 53%);">
		<div class="guide-swatch-bd">
			<h4>Pink</h4>
			<div><code>var(--color-pink)</code></div>
			<div><code>hsl(333, 85%, 53%)</code></div>
			<div><code>rgb(237, 33, 125)</code></div>
			<div><code>#ed217d</code></div>
		</div>
	</div>
	<div class="grid-col_1of3 guide-swatch" style="background: hsl(120, 91%, 91%);">
		<div class="guide-swatch-bd">
			<h4>Green</h4>
			<div><code>var(--color-green)</code></div>
			<div><code>hsl(120, 91%, 91%)</code></div>
			<div><code>rgb(211, 253, 211)</code></div>
			<div><code>#d3fdd3</code></div>
		</div>
	</div>
	<div class="grid-col_1of3 guide-swatch" style="background: hsl(46, 33%, 83%);">
		<div class="guide-swatch-bd">
			<h4>Brown</h4>
			<div><code>var(--color-brown)</code></div>
			<div><code>hsl(46, 33%, 83%)</code></div>
			<div><code>rgb(226, 219, 197)</code></div>
			<div><code>#e2dbc5</code></div>
		</div>
	</div>
</div>

### Typography

<div class="grid">
	<div class="grid-col_1of2 guide-swatch">
		<div class="guide-swatch-bd">
			<h4 style="font-family: 'gogoia-web'; font-size: 2em; line-height: 1.3;">Gogoia Regular</h4>
			<div><code>var(--font-heading)</code></div>
			<div><code>'gogoia-web', helvetica, arial</code></div>
		</div>
	</div>
	<div class="grid-col_1of2 guide-swatch">
		<div class="guide-swatch-bd">
			<h4 style="font-family: 'lato-web';">Lato Regular</h4>
			<div><code>var(--font-body)</code></div>
			<div><code>'lato-web', helvetica, arial</code></div>
		</div>
	</div>
</div>

### Tilt

<div class="grid">
	<div class="grid-col_1of2 guide-swatch" style="transform: skewY(-9deg); transform-origin: left bottom;">
		<div class="guide-swatch-bd">
			<div><code>calc(var(--tilt) \* -1deg)</code></div>
			<div><code>-9deg</code></div>
		</div>
	</div>
	<div class="grid-col_1of2 guide-swatch" style="transform: skewY(-9deg); transform-origin: left bottom;">
		<div class="guide-swatch-bd" style="transform: skewY(9deg); transform-origin: left bottom;">
			<div><code>calc(var(--tilt) \* 1deg)</code></div>
			<div><code>9deg</code></div>
		</div>
	</div>
</div>
