/**
 * # Variables
 */

:root {
	--color-background: hsl(0, 0%, 100%);
	--color-foreground: hsl(0, 0%, 0%);
	--color-primary: hsl(333, 83%, 55%);
	--color-secondary: hsl(46, 33%, 83%);
	--color-tertiary: hsl(120, 91%, 91%);

	--font-primary: 'lato-web', helvetica, arial, sans-serif;
	--font-accent: 'gogoia-web', helvetica, arial, sans-serif;

	--tilt: 9;
}
